body {
    width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

* {
    margin: none;
    overflow-y: hidden;
}

header{
    height: auto;
    margin-left: none;
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    padding-bottom: 25px;
}

.name {
    font-size: 30px;
    font-weight: bold;
    padding-left: 24px;
    margin-top: -20px;
}

.nav {
    margin-left: 160px;
    display: flex;
    flex-wrap: wrap;
}

.nav ul{
    display: flex;
    padding-left: 190px;
    border-right: 1px solid rgb(70, 67, 67);
}

.nav li{
    padding: 0px 20px;
    list-style-type: none;
    font-size: 18px;
    font-weight: bold;
}

.whatsapp {
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    margin-left: 20px;
    margin-top: 9px;
    padding-right: 20px;
}

.whatsapp img{
    height: 40px;
    padding-left: 10px;
}

.number {
    height: 40px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 50px;
    margin-top: -25px;
    font-size: 15px;
}

.number p{
    line-height: 15px;
}

.contain {
    height: 1000px;
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
}

.text {
    width: 500px;
    height: 550px;
    padding-left: 30px;
    margin-top: -70px;
}

.service {
    width: 350px;
    margin-top: 40px;
}

.service h4{
    font-size: 40px;
    font-weight: bold;
}

.service button {
    height: 70px;
    width: 230px;
    font-size: 25px;
    color: white;
    margin-top: -70px;
    margin-bottom: 90px;
    background-color: orangered;
    border: none;
    border-radius: 15px;
}

.open {
    display: flex;
}

.open img {
    height: 40px;
    width: 40px;
    padding-right: 12px;
}

.day {
    margin-top: -24px;
    line-height: 20px;
    font-size: 18px;
}


.image {
    margin-left: 100px;
    background-image: url(Image.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 550px;
    width: 500px;
}

.quick {
    height: 70px;
    width: 180px;
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 50px;
    margin-top: 80px;
    margin-left: -25px;
}

.quickserve {
    padding-top: 5px;
    padding-left: 2px;
}

.quickservice {
    height: 60px;
    width: 160px;
    background-color: white;
    border-radius: 50px;
    margin-left: 9px;
    display: flex;
}

.hour {
    margin-left: 11px;
    margin-top: 10px;
    height: 40px;
    width: 40px;
    align-content: center;
    background-color: rgb(57, 136, 106);
    border-radius: 5vh;
    text-align: center;
}

.hr {
    margin-top: -9px;
    margin-left: -12px;
}

.quickservice p{
    margin-top: 21px;
    padding-left: 10px;
    font-size: 15px;
}


.rate {
    height: 70px;
    width: 180px;
    background-color: rgba(255, 255, 255, 0.43);
    border-radius: 50px;
    margin-top: 200px;
    margin-left: 350px;
}

.starrating {
    padding-top: 6px;
    padding-left: 2px;
}

.starrate {
    height: 60px;
    width: 160px;
    background-color: white;
    border-radius: 50px;
    margin-left: 9px;
    display: flex;
    line-height: 20px;
}

.st {
    margin-top: -10px;
    margin-left: 30px;
    height: 200px;
}

.st p{
    margin-top: 19px;
    font-size: 16px;
    line-height: 18px;
}

.starrate img {
    margin-top: 20px;
    width: 60px;
    height: 15px;
}